mirror_path = "./mirror"  # path to mirror with csv files
static_content_path = "./static"  # path to compiled dearrow-browser-frontend
cache_path = "./cache"  # path to cache directory for channel data
auth_secret = "set this to something random"  # secret for authenticated enpoints (such as reload)
enable_sbserver_emulation = false  # set to true to enable /sbserver apis
reqwest_timeout_secs = 20 # timeout for HTTP requests made by the server (such as innertube)

[listen]  # either tcp or unix has to be set
tcp = ["0.0.0.0", 9292]  # IP and port to bind to
#unix = "/tmp/dearrow-browser.sock"  # path to the unix socket
#unix_mode = 0o777  # optional - permissions of the created unix socket

[innertube]
enable = true  # set to false to disable any endpoints relying on fetching data from youtube
#visitor_data = "" # visitor data string to use for innertube requests
#po_token = ""  # po token string to use for innertube requests
