[package]
name = "dearrow-browser-frontend"
version.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow.workspace = true
chrono = { version = "0.4.31", default-features = false, features = ["wasmbind", "alloc", "clock"] }
dearrow-browser-api = { path = "../dearrow-browser-api" }
reqwest = { version = "0.11.23", features = ["json"] }
strum = { version = "0.25.0", features = ["derive"] }
serde.workspace = true
web-sys = { version = "0.3.66", features = ["KeyboardEvent", "HtmlInputElement", "Window", "Document", "Element", "Location"] }
yew = { version = "0.21.0", features = ["csr"] }
yew-router = "0.18.0"
yew-hooks = "0.3.0"
gloo-console = "0.3.0"
