$gray: #333;
$white: #eee;

%headercolors {
  background-color: #222;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: $white;
  background: #111;
  font-family: sans-serif;

  > * {
    padding: 1rem;
  }
}

#header {
  height: min(10vh, 3rem);
  @extend %headercolors;
  display: flex;
  flex-direction: row;
  gap: 2rem;

  > div {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  h1 {
    font-size: 2rem;
    margin: 0;
  }
}

#searchbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;

    input {
      font-size: 1rem;
      padding: .375rem .75rem;
    }
  }
}

#footer {
  @extend %headercolors;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;

  >:last-child {
    text-align: right;
  }
}

#content {
  flex-grow: 1;

  &[data-route="NotFound"], &[data-route="NotImplemented"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    > * {
      margin: 0;
    }

    h2 {
      font-size: 3rem;
    }
    
    h3 {
      font-size: 2rem;
    }

    a {
      font-size: 1.5rem;
    }
  }

  &[data-route="Home"], &[data-route="Video"], &[data-route="User"] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    table {
      border-collapse: collapse;
      border: 1px solid $gray;
    }

    td {
      text-align: center;
      
      &.title-col {
        max-width: 40vw;
      }
    }

    tr {
      border-top: 1px solid $gray;
      border-bottom: 1px solid $gray;

      &.header {
        border-bottom: 2px solid $gray;
        border-top: none;
      }
    }
  }
}

#page-details {
  padding-bottom: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: flex-start;

  iframe {
    border: none;
    $max-height: 20vh;
    $max-width: 25vw;
    height: min($max-height, calc($max-width / 16 * 9));
    width: min($max-width, calc($max-height / 9 * 16));
  }

  #details-table {
    border: 1px solid $gray;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;

    > * {
      padding: 0.5rem;

      &:not(:last-child) {
        border-bottom: 1px solid $gray;
      }
    }
  }
}

.clickable {
  cursor: pointer;
}

.table-mode-switch {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
  > span {
    padding: 0.5rem;

    &.table-mode {
      border: 1px solid $gray;
      border-bottom: none;
      border-radius: 0.25rem 0.25rem 0 0;
      @extend .clickable;

      &[selected] {
        background-color: $gray;
      }
    }
  }
}

.icon-link, .icon-link a {
  text-decoration: none;
  color: inherit;
}

a {
  color: lightblue;
}

input, textarea {
  color: $white;
  background-color: #111;
  border-color: #888;
  appearance: none;
  border: 1px solid $gray;
  border-radius: .25rem;

  &::placeholder {
    color: #888;
  }
}
